#chart {
	width: 1000px;
	height: 500px;	
}

.barOuter {
	width: 300px;
	height: 30px;
	background-color: green;
}

.bar {
	height: 100%;
	width: 100%;
	border: 5px solid red;
}

.row { 
	clear: left;
}

.box {
	width: 10px;
	height: 10px;
	float: left;
}

.selected {
	background-color: blue;
	border: 1px solid white;
}

.food {
	background-color: orange;
	border: 1px solid white;
}

.grid {
	border: 5px solid black;
}

/*.col_10 {
	border: 5px solid green;
}*/