#chart {
	width: 1000px;
	height: 500px;	
}

.barOuter {
	width: 300px;
	height: 30px;
	background-color: green;
}

.bar {
	height: 100%;
	width: 100%;
	border: 5px solid red;
}

.row { 
	clear: left;
}

.box {
	width: 30px;
	height: 30px;
	border: 5px solid red;
	float: left;
}

